<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Eng.Elton Miguel Cachiliva</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icons -->
<link rel="icon" href="{% static 'images/fevicon/fevicon.png' %}" type="image/gif" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
<!-- bootstrap css -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<!-- Site css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!-- responsive css -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
<!-- colors css -->
<link rel="stylesheet" href="{% static 'css/colors1.css' %}" />
<!-- custom css -->
<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
<!-- wow Animation css -->
<link rel="stylesheet" href="{% static 'css/animate.css' %}" />
<!--&lt;!&ndash;[if lt IE 9]>-->
<!--      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
<!--      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
<!--<![endif]&ndash;&gt;-->
</head>
<body id="default_theme" class="it_service service">

    {% include 'app/navbar.html'%}
    <hr>

    {% block contenido %}
    <!-- Contenido   -->
    {% endblock contenido %}
{% include 'app/footer.html' %}
</body>
</html>