{% extends 'app/base.html' %}

{% block contenido %}
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
<!--              <h1 class="page-title">Services</h1>-->
<!--              <ol class="breadcrumb">-->
<!--&lt;!&ndash;                <li><a href="index.html">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="active">Services</li>&ndash;&gt;-->
<!--              </ol>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section padding_layout_1 service_list">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contant_form">
              <h4 class="center">Enviar Email</h4>
            <hr>
<!--              <p>Our goal is to provide the best customer service and to answer all of your questions in a timely manner.</p>-->
              <div class="form_section">
                <form id="contact-form" method="POST" action="{% url 'send_email' %}">
                {% csrf_token %}
                  <fieldset>
                  <div class="row">
                    <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <input class="field_custom" placeholder="Nome" type="text" name="name" required />
                    </div>
                    <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <input class="field_custom" placeholder="Assunto" type="text" name="subject" required />
                    </div>
                    <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <input class="field_custom" placeholder="Email" type="text" name="email" required />
                    </div>
<!--                    <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
<!--                      <input class="field_custom" placeholder="Phone number" type="text" required />-->
<!--                    </div>-->
                    <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <textarea class="field_custom" placeholder="Messagem" name="message" required ></textarea>
                    </div>
                    <div class="center"><input id="submit-btn" type="submit" value="Send"></div>
                  </div>
                  </fieldset>
                </form>
              </div>
            </div>
  </div>
  </div>
  </div>
{% endblock contenido %}